nav > ul{
    display: flex;
}
nav li{
    list-style: none; 
    padding: 0px 10px;
}
nav li:hover{
    background-color: aqua;
}
nav li a{
    text-decoration: none;
    font-size: 25px;
    
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding: 0px ;
}
nav > ul > li:hover > ul{
    display: block;
    
}